// ==========================================================================
// Global Config
// ==========================================================================

// Fonts
$font-url--google     : 'http://fonts.googleapis.com/css?family=Lato:300,700';
$f-primary					: 'Lato', 'Futura', 'Helvetica', sans-serif;


// Font Weights
$fw-light     : 300;
$fw-bold       : 700;


// Brand Colors
$c-primary				: #73c2f8;
$c-primary-dark 	: #57666b;
$c-primary-light	: #acb8bd;
$c-secondary			: #f1595f;

$white		: #fff;
$black		: #2b2b2b;
$grey			: #333;


// Border radius
$br-default    : 5px;
$br-round      : 50px;


// Transitions
$tr-dur  : .4s;