footer {
	width: 100%;
	background: url('../img/hero/footer-bg.jpg') center center no-repeat;
	background-size: cover;
	padding: 0 1em;
}
.tour {
	padding: em(88px) 0;
	.btn {
		@include btn(none);
		max-width: 250px;
		margin: em(35px) auto 0;
	}
}
.navigation {
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
	padding: em(88px) 0;
	@extend %clearfix;
	> div {
		width: 25%;
		float: left;
	}
	> div:last-of-type {
		@extend %clearfix;
	}
	ul, a {
		font-size: em(18px);
		font-weight: $fw-light;
		color: rgba($white, .6);
		text-transform: none;
	}
	li {
		margin-bottom: em(5px);
	}
	h5 {
		color: rgba($white, .6);
		text-align: left;
	}
}
label {
	display: block;
	font-family: $f-primary;
	font-size: em(16.3px);
	color: $white;
	margin-bottom: 10px;
}
input {
	float: left;
	height: 40px;
	padding: 10px 15px;
}
input[type="text"] {
	background: #d5d8da;
	border: 2px solid white;
	border-radius: 5px 0 0 5px;
}
input[type="submit"] {
	text-indent: -1000px;
	padding: 10px 20px;
	outline: none;
	border: none;
	background: url('../img/footer/paper-plane.png') center center no-repeat, #fff;
	border-radius: 0 5px 5px 0;
}
.email {
	@extend %clearfix;
}
.social {
	text-align: left;
	margin: 35px 0 20px;
	li {
		display: inline-block;
		margin-right: 10px;
		&:last-of-type {
			margin-right: 0;
		}
	}
}
.copyright {
	color: $white;
}