.testimonial {
	width: 100%;
	background: #ecf1f3;
	@extend %clearfix;
}
.testimonial-item {
	position: relative;
	width: (100 / 6) * 1%;
	float: left;
	@include ghost;
	&:hover .testimonial-overlay {
		opacity: 1;
		transform: scale(1.05);
	}
	&:after {
		content: '';
		position: absolute;
		right: 0;
		height: 80%;
		width: 1px;
		background: $white;
		top: 50%;
		transform: translateY(-50%);
	}
	&:last-of-type:after {
		content: '';
		display: none;
	}
} 
.testimonial-item-info {
	padding: em(70px) 0;
	img {
		border-radius: 50%;
		margin-bottom: 15px;
	}
}
.testimonial-overlay {
	position: absolute;
	padding: em(34px);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9;
	opacity: 0;
	background-color: $c-secondary;
	transition: .4s;
	p {
		color: $white;
		font-size: em(16.3px);
	}
	h5 {
		text-align: left;
		color: $white;
		margin: 20px 0 10px;
	}
	img {
		display: block;
		margin: 0;
	}
}